<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:200&display=swap" rel="stylesheet"> 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> 
    <script type="text/javascript" src="./static/js/previewcurve.js"></script>


    <title>Select Channels</title>
</head>
<body class="gradient">

        <div class="bsapp d-flex align-items-center">

                <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div id="processing">Processing...</div>
                                <div id="spinner" class="lds-ripple"><div></div><div></div></div>
                                <form action="/settings" method="post" onsubmit="return validate()">
                                    <div id="chanlist" class="scrollbar", style='display:none;'></div>
                                    <input type="submit" value="Next" id="channel_submit" class="btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                    
            </div>


<script>

params = {}

freqs = {};

function validate(){
    let selected_freqs = new Array();
    for(let i=0;i<params.chan_count;i++){
        let box = document.getElementById(String(i));
        // console.log(box);
        if(box.checked){
            selected_freqs.push(freqs[i])
        }
    }
    let uniqueFreqs = [...new Set(selected_freqs)];
    if(uniqueFreqs.length>1){
        alert('All selected channels should have the same sampling frequency');
        return false;
    }
    else{
        return true;
    }
    
}

let submit = document.getElementById('channel_submit');
submit.style.display = 'none';

var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    console.log('Websocket connected!');
});

//#################################################################################
//######################## Load the channel information ###########################
//#################################################################################
socket.on('edf_info',function(info){
    // console.log(info);
    let channel_labels = info['channel_labels'];
    let sampling_freq = info['sampling_frequency'];
    params.sampling_freq = sampling_freq
    params.chan_count = channel_labels.length;
    let preview = info['preview'];
    

    let message = document.getElementById('processing');
    message.innerHTML="Select Channels";
    let spinner = document.getElementById('spinner');
    spinner.style.display  = 'none';
    let chanlist  = document.getElementById('chanlist');
    chanlist.setAttribute('class','chanlist');
    chanlist.style.display='inline-block';
    let submit = document.getElementById('channel_submit');
    submit.style.display = 'unset';
    submit.classList.add("channel_submit");
    



    var table = document.createElement('table');
    table.setAttribute('cellspacing',0);

    // setting table labels:
    var tr = document.createElement('tr');   

    var td1 = document.createElement('td');
    var label1 = document.createTextNode('select');
    td1.appendChild(label1);
    var td2 = document.createElement('td');
    var label2 = document.createTextNode('Channel');
    td2.appendChild(label2);
    td2.setAttribute('class','channel');
    var td3 = document.createElement('td');
    var label3 = document.createTextNode('freq.');
    td3.appendChild(label3);
    var td4 = document.createElement('td');
    var label4 = document.createTextNode('preview');
    td4.appendChild(label4);
    
    tr.appendChild(td1);
    tr.appendChild(td2);
    tr.appendChild(td3);
    tr.appendChild(td4);

    table.appendChild(tr);

    for(let i =0; i<channel_labels.length;i++){
        name = channel_labels[i];
        fps  = params.sampling_freq;
        freqs[i]=fps;

        var tr = document.createElement('tr');   

        var td1 = document.createElement('td');
        var td2 = document.createElement('td');
        var td3 = document.createElement('td');
        var td4 = document.createElement('td');
        td2.setAttribute('class','channel')



        var checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.checked = true;
        checkbox.name = i;
        checkbox.id = String(i);
        // checkbox.addEventListener( 'change', function() {
        // if(this.checked) {
        //     // Checkbox is checked..
        // } else {
        //     // Checkbox is not checked..
        // }
        // });

        var text1 = document.createTextNode(name);
        var text2 = document.createTextNode(fps);
        var canvas = document.createElement('canvas');
        canvas.width= 400;
        canvas.height = 40;
        var ctx = canvas.getContext('2d');
        ctx.strokeStyle = "#ffffff";

        var points = preview[i]; //minimum two points
        Points=[];
        for(let j=0;j<points.length;j++){
            Points.push({x:j*400/points.length,y:20+3*points[j]})
        }
        drawCurve(ctx, Points); //default tension=0.5

        td1.appendChild(checkbox);
        td2.appendChild(text1);
        td2.setAttribute('class','channel')
        td3.appendChild(text2);
        td4.appendChild(canvas);
        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);
        table.appendChild(tr);
    }

    chanlist.appendChild(table);



});
</script>

</body>
</html>